// @media only screen and (min-width: 767.98px) 
.doc {
    width: 90%;
    margin: 0 auto;
    &-header {
      margin: getSpacing(3) 0 getSpacing(2);
      font-size: $fontSizeHeaderDesktop;
    }

    &-table {
      width: 100%;
      padding: $defaultSpacing;
      text-align: center;
      @include desktop-table-config;

      thead {
        tr {
          th {
            &:not(:first-child) {
              i {
                margin-left: getSpacing(0.75);
              }
            }

            &:last-child {
              i {
                margin-right: getSpacing(0.75);
                margin-left: 0;

                @media only screen and (max-width: 767.98px) {
                  //Code here
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          td {
            &:nth-child(2) {
              i {
                font-size: $fontSizeRecentHint;
                vertical-align: text-top;
              }
            }

            &:nth-last-child(2) {
              .btn {
                &.btn-edit {
                  margin-right:getSpacing(0.5);
                  background: $colorFadedPoster;
                  border-color: $colorRobinEggBlue;

                  &:hover {
                    background: $colorMintLeaf;
                  }
                }

                &.btn-delete {
                  background: $colorPinkGlamour;
                  border: $colorOrangeVille;

                  &:hover {
                    background-color: $colorChiGong;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

@media only screen and (max-width: 767.98px) {
  .doc {
    font-size: $fontSizeTextMobile;
    @include mobile-table-config;

    &-header {
      margin: getSpacing(1.5) 0 0;
      font-size: $fontSizeHeaderMobile;
      padding-left: $defaultSpacing;
    }

    &-table {
      thead {
        display: none;
      }

      tbody {
        tr {
          td {
            @include flex-config;
            justify-content: flex-start;

            &:last-child {
              display: none;
            }

            &:nth-child(2) {
              i {
                display: none;
              }
            }

            &:not(:nth-last-child(2)) {
              @include draw-border(
                $defaultWidthBorder,
                $colorItemBorder,
                bottom
              );
            }

            &:before {
              flex-basis: 25%;
              padding-left: $defaultSpacing;
              margin-right: getSpacing(2);
              font-weight: bold;
            }


            &:first-child {
              background: $colorBGNav;

              &:before {
                flex-basis: 100%;
              }
            }

            @include mobile-table-header-config;
          }
        }
      }
    }
  }
}
