.nav {
  width: 100%;
  background: $colorBGNav;
  @include draw-border($defaultWidthBorder, $colorNormalText, top);
  @include flex-config;
  justify-content: flex-start;

  &-list {
    @include flex-config;
    padding: 0 $defaultSpacing;
    overflow: hidden;
    transition: all 0.1s;

    &-item {
      @include flex-config;

      &:not(:last-child) {
        margin-right: getSpacing(0.75);
      }

      a {
        @include flex-config;
        height: $heightNav;
        padding: 0 getSpacing(2.5);
        white-space: nowrap;
        i {
          &:first-child {
            &:not(.fa-file-excel, .dp-ico) {
              color: $colorNavIcon;
            }
            margin-right: getSpacing(0.75);
          }

          &.dp-ico {
            margin-left: getSpacing(0.75);
            color: $colorNormalText;
          }
        }

        &:hover {
          background: $colorBGNavHover;
          color: $colorTextNavHover;
        }
      }
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .nav {
    height: $heightNav;
    justify-content: flex-end;
    border-top: none;
    position: relative;

    &-list {
      width: 100%;
      background: $colorBGNav;
      flex-direction: column;
      align-items: flex-start;
      padding: getSpacing(1.5) $defaultSpacing;
      position: absolute;
      top: $heightNav;
      display: none;
      border-radius: 0 0 0.5rem 0.5rem;
      z-index: 1;

      &-item {
        width: 100%;
        display: block;
        text-align: left;

        a {
          justify-content: flex-start;
        }

        &:not(:last-child) {
          margin-bottom: getSpacing(0.75);
        }

        &:last-child {
          a {
            i {
              margin-left: 0;
            }
          }
        }
      }
    }
  }
}
