//Color Palettes
$colorWhiteSmoke: #ecf0f1;
$colorBlack: #1e272e;
$colorLightGrey: #bdc3c7;
$colorDarkYellow: #fbc531;
$colorGreen: #27ae60;
$colorPink: #b53471;
$colorWhiteGrey: #dcdde1;
$colorBlueGrey: #b2bec3;
$colorDarkGrey: #2c3e50;
$colorGrey: #7f8c8d;
$colorPinkGlamour: #ff7675;
$colorDarkBlueGrey: #34495e;
$colorFadedPoster: #81ecec;
$colorRobinEggBlue: #00cec9;
$colorChiGong: #d63031;
$colorMintLeaf: #00b894;
$colorOrangeVille: #e17055;

//Color Template
$colorBGPrimary: $colorWhiteGrey;
$colorBGSecondary: $colorBlueGrey;
$colorTextPrimary: $colorGrey;
$colorTextSecondary: $colorDarkGrey;

//Dimension
$defaultWidthBorder: 1px;
$defaultBorderRadius: 0.5rem;
$heightNav: 5rem;
$heightNavIcon: 3rem;
$heightActionBtn: 3rem;
$heightModalInput: 2.5rem;
$widthActionBtn: 5rem;
$widthNavIcon: 5rem;

//Spacing
$defaultSpacing: 1rem;

//LineHeight
$lineHeight: 1.5;

//Color
$colorHeaderBorder: $colorBlack;
$colorItemBorder: $colorLightGrey;
$colorFolder: $colorDarkYellow;
$colorExcel: $colorGreen;
$colorNavIcon: $colorPink;
$colorBGNav: $colorBGPrimary;
$colorBGNavHover: $colorBGSecondary;
$colorNormalText: $colorTextPrimary;
$colorTextNavHover: $colorTextSecondary;
$colorRecentHint: $colorPinkGlamour;
$colorNavHoverBorder: $colorDarkBlueGrey;

//Font
$fontFamily: 'Roboto', sans-serif;
$fontSizeHeaderDesktop: 3rem;
$fontSizeTextDesktop: 1.6rem;
$fontSizeHeaderMobile: 2rem;
$fontSizeTextMobile: 1.3rem;
$fontSizeNavIcon: 1.75rem;
$fontSizeRecentHint: 0.85rem;

//List
$listTableHeader: ('File Type', 'Name', 'Modified', 'Modified By');
