body {
  width: 100%;
  height: 100%;
  font-size: $fontSizeTextDesktop;
  color: $colorNormalText;
  font-family: $fontFamily;
  line-height: $lineHeight;
}

a {
  color: $colorNormalText;
  text-decoration: none;
}

.fa-folder-open {
  color: $colorFolder;
}

.fa-file-excel {
  color: $colorExcel;
}

.fa-yelp {
  color: $colorRecentHint;
}

button {
  font-family: $fontFamily;
}

.btn {
  padding: getSpacing(0.25) getSpacing(0.5);
  border-radius: getBorderRadius(0.5);
  width: $widthActionBtn;
  height: $heightActionBtn;
  font-size: $fontSizeTextMobile;
  @include draw-border($defaultWidthBorder, transparent, full);

  &:not(:last-child){
    margin-right:getSpacing(0.5);
  }
}
